<!doctype html>
<html>
	<head>
		{% load static %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'app/bulma.min.css' %}">
		<title>Sylt: System for Lowcost Ticket Reimbursement</title>
	</head>
	<body>
		<nav class="navbar mb-3" role="navigation" aria-label="main navigation">
			
		</nav>
		{% block content %}{% endblock %}
	</body>
</html>
