{% extends "sepa/base.html" %}
{% load toeuros %}
{% load l10n %}

{% block content %}
<div class="block container">
  <div class="box">
    <h1 class="title">Sepa Dateien</h2>
    {% if xml_file %}
      <div class="field">
        <table class="table">
          <tr>
            <th>Nummer</th>
            <th>Erstellungsdatum</th>
            <th>Überweisungsdatum</th>
            <th>Anzahl</th>
            <th>Betrag</th>
            <th></th>
            <th></th>
          </tr>
          {% for xml in xml_file %}
            <tr>
              <form name="mark_sepa_xml" method="post">
                {% csrf_token %}
              <td>{{xml.id}}</td>
              <td>{{xml.creation_date}}</td>
              <td>{{xml.wire_date}}</td>
              <td>{{xml.count}}</td>
              <td>{{xml.amount|toeuros|floatformat:2|localize}}€</td>
              {% if not xml.wire_date %}
                <div class="control">
                  <td><a class="input is-small button is-primary" href="/download_xml/{{xml.pk}}" target="_blank">Download</a></td>
                  <td><input type="hidden" name="sepa_id" value="{{xml.id}}"><input class="input is-small button is-primary" type="submit" name="wired" value="Als überwiesen markieren" /></td>
                </div>
              {% else %}
                <td>---</td>
                <td>bereits überwiesen</td>
              {% endif %}
              </form>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% else %}
        <p>No files available.</p>
    {% endif %}
  </div>
  <div class="box">
    <h1 class="title">Offene Transfers ({{ count }})</h2>
    {% if open_transfers %}
      {% localize off %}
        <form name="create_sepa_xml" method="post">
          {% csrf_token %}
          <input class="input button is-primary" type="submit" name="create" value="XML für nachfolgende Posten erstellen (max. {{ sepa_count }} Stück)" />
        </form> 
        <table class="table">
          <tr>
            <th>Nummer</th>
            <th>Matrikelnummer</th>
            <th>Nachname</th>
            <th>Vorname</th>
            <th>IBAN</th>
            <th>BIC</th>
            <th>Medizintechnik</th>
          </tr>
          {% for studi in open_transfers %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{studi.matriculation_number}}</td>
              <td>{{studi.last_name}}</td>
              <td>{{studi.first_name}}</td>
              <td>{{studi.iban}}</td>
              <td>{{studi.bic}}</td>
              <td>{{studi.medizintechnik}}</td>
            </tr>
          {% endfor %}
        </table>  
      {% endlocalize %} 
    {% else %}
        <p>- Keine offenen Transfers -</p>
    {% endif %}
  </div>
</div>  
{% endblock %}
