// 1. Import the initial variables
@import "./node_modules/bulma/sass/utilities/initial-variables"

// 2. Set your own initial variables
$orange: #f6861f;
$turquoise: #32ad7e;
$black: #313536;
$primary: $orange;
$success: #30ae7e;
$navbar-item-img-max-height: 2.5em;

// 3. Import the rest of Bulma
@import "./node_modules/bulma/bulma"

// 4. Import your stuff here
.is-multiline
  min-height: 2.25em
  white-space: unset
  height: auto
  flex-direction: column
