{% load i18n %}
<!doctype html>
<html>
	<head>
		{% load static %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'bulma/css/style.css' %}">
		<link rel="shortcut icon" type="image/png" href="{% static 'app/favicon.ico' %}"/>
		<title>Sylt: System for Lowcost Ticket Reimbursement</title>
		<style>
			body, html {
				min-height: 100%;
				display: flex;
				flex-direction: column;
				flex-grow: 1;
			}
		</style>
	</head>
	<body>
		{% include "app/header.html" %}

		<section class="block card">
			{% block content %}{% endblock %}
		</section>
		
		<footer class="footer">
			<div class="content has-text-centered">
    		<p>
				{% trans 'footer' %}
				<a href="mailto:{{ SERVICE_EMAIL }}">{{ SERVICE_EMAIL }}</a>
			</p>
			<p>  <a href="{{ IMPRINT_LINK }}" target="_blank">{% trans 'footer_imprint' %}</a> - <a href="{{ PRIVACY_POLICY_LINK }}" target="_blank">{% trans 'footer_privcy_policy' %}</a> - <a href="https://codeberg.org/astatudarmstadt/free-money" target="_blank">OpenSource</a>
		</footer>
	</body>
</html>
