{% extends "app/base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="card-content">
        <div class="columns">
			<div class="column is-two-thirds">
                <div class="content block">
				<h1>{% trans 'denied' %}</h1>
				<p>{% trans 'login_needed' %}</p>
				<p>{% trans 'error_contact_us' %}
				<a href="mailto:{{ SERVICE_EMAIL }}">{{ SERVICE_EMAIL }}</a></p>
				</div>
			</div>
			<div class="column">
				<div class="notification is-success">
					{% include "app/update_form_notification.html" %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
