{% extends "app/base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="card-content">
        <div class="columns">
			<div class="column is-two-thirds">
                <div class="content block">
				<h2 class="subtitle">{% trans 'success' %}</h2>

				<p>{% trans 'intro_received'%}</p>

				<table>
					<tr><th>{% trans 'ac_owner' %}:<td>{{studi.ac_owner}}
					<tr><th>{% trans 'iban' %}:<td>{{studi.iban}}
					<tr><th>{% trans 'bic' %}:<td>{{studi.bic}}
				</table>

				{% if email %}
					<div class="notification">
					{% trans 'mail_sent' %}{{ email }}
					</div>
				{% endif %}
				<div class="notification is-success">
					<p>{% trans 'error_corrections'%}</p>
				</div>
				<strong>{% trans 'outro_received'%}</strong>
				<div class="block has-text-centered pt-5">
					<a href="{% url 'logout' %}">
						<button class="button is-primary is-multiline">
							<strong>{% trans 'logout' %}</strong>
						</button>
					</a>
				</div>
				<div class="box">
					<p>{% trans 'rejection_wired_info' %}</p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="notification is-success">
				{% include "app/update_form_notification.html" %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
