{% extends "app/base.html" %}
{% load l10n %}
{% load i18n %}
{% load bulma_tags %}
{% load toeuros %}

{% block content %}
<div class="block container">
    <div class="card-content">
		<div class="columns">
			<div class="column is-two-thirds">
				<div class="content">
					{% if first_name %}
					<h2 class="subtitle">{% blocktranslate with first_name=first_name context "greeting" %}Hi {{ first_name }},{% endblocktranslate %}</h2>
					{% else %}
					<h1 class="title">{% trans 'welcome' %}</h1>
					{% endif %}
					<div class="content">
						<p>{% trans 'intro' %}
						{% if not deadline == ''%}
							<p>{% trans 'deadline' %}: {{ deadline|localize }}
						{% endif %}
					</div>
					<div class="content">
					{% trans 'info_necessities' %}
					<ul>
						<li>{% trans 'y_tu-id' %}</li>
						<li>{% trans 'y_password' %}</li>
						<li>{% trans 'y_iban_bic' %}</li>
					</ul>
					</div>
					{% get_current_language as LANGUAGE_CODE %}
					{% if not LANGUAGE_CODE == 'de' %}
						<div class="notification">
							{% trans 'iban_note' %}
						</div>
					{% endif %}
				</div>
				<div class="block has-text-centered pt-6 pb-4">
				<h2 class="subtitle">{% trans 'are_you_ready' %}</h2>
				<a href="/saml2/login/">
					<button class="button is-primary is-large is-multiline">
						{% trans 'apply_now' %}
					</button>
				</a>
				</div>
				<div class="box">
					<div class="content">
						<h2 class="subtitle">{% trans 'background_title' %}</h2>
						<p>{% blocktranslate with amount_medtec=amount_medtec|toeuros|floatformat:2|localize amount_std=amount_std|toeuros|floatformat:2|localize %}
		Im Zuge der Einführung des 9-Euro-Tickets wurde den Verkehrsverbünden erlaubt für ihre Bestandskunden mit Zeitkarten Rückerstattungen 
		durchzuführen. Aufgrund der unterschiedlichen Kosten des Tickets der Studierenden der Medizintechnik und der anderen Studiengänge 
		beträgt die Rückerstattung: 
		<ul>
		<li>{{amount_medtec}}€ für Studierende der Medizintechnik</li>
		<li>{{amount_std}}€ für alle anderen Studierenden</li>
		</ul>
		Nur wenn du im Sommersemester 2022 an der TU Darmstadt eingeschrieben warst, den Beitrag bezahlt hast und er nicht zurückerstatte wurde,
		kannst du diese Rückerstattung hier beantragen.
						{% endblocktranslate %}</p>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="notification is-success">
					<h1 class="title">{% trans 'index_side_title' %}</h1>
					<h2 class="subtitle">{% trans 'index_side_subtitle' %}</h2>
					<div class="content">
						{% trans 'index_side_text' %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
