{% extends "app/base.html" %}
{% load i18n %}

{% block content %}
<div class="block container">
    <div class="card-content">
		<div class="columns">
			<div class="column is-two-thirds">
				<div class="content">
					<h1>{% trans 'logged_out' %}</h1>
					<p>{% trans 'complete_logout' %}</p>
				</div>
				<div class="notification">
					{% trans 'finished_logout' %}
				</div>
				<div class="block has-text-centered pt-4">
					<a href="/saml2/logout/">
						<button class="button is-primary is-large is-multiline">
							{% trans 'fully_logout_now' %}
						</button>
					</a>
				</div>
			</div>
			<div class="column">
				<div class="notification is-success">
					{% include "app/update_form_notification.html" %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
