{% extends "app/base.html" %}
{% load l10n %}
{% load i18n %}
{% load bulma_tags %}
{% load toeuros %}

{% block content %}
<div class="container">
    <div class="card-content">
        <div class="columns">
			<div class="column is-two-thirds">
                <div class="content block">
                    <h2 class="subtitle">{% blocktranslate with first_name=first_name context "greeting" %}Hi {{ first_name }},{% endblocktranslate %}</h2>

                    {% if rejection == 'other_reasons' %}
                        <p>{% trans 'rejection_other_reason' %}
                        <p>{% trans 'error_contact_us' %} <a href="mailto:{{ SERVICE_EMAIL }}">{{ SERVICE_EMAIL }}</a>
                    {% elif rejection == 'already_refunded' %}
                        <p>{% trans 'rejection_wired' %}
                        <table>
                            <tr><th>{% trans 'ac_owner' %}:<td>{{studi.ac_owner}}
                            <tr><th>{% trans 'iban' %}:<td>{{studi.iban}}
                            <tr><th>{% trans 'bic' %}:<td>{{studi.bic}}
                        </table>
                        <p>{% trans 'error_contact_us' %} <a href="mailto:{{ SERVICE_EMAIL }}">{{ SERVICE_EMAIL }}</a>
                        <div class ="notification">
                            <p>{% trans 'rejection_wired_info' %}
                        </div>
                    {% elif rejection is None %}
                        {% if nomail %}
                            <div class="notification is-warning">
                                {% trans 'no_mail_warning' %}
                            </div>
                        {% endif %}

                        {% if update_instead_of_create %}
                            <p>{% trans 'change_data' %}
                        {% else %}
                            <p>{% trans 'greeting_apply' %}</p>
                            <p>{% blocktranslate with amount=amount|toeuros|floatformat:2|localize %}Trage hier deine Bankverbindung ein und wir überweisen dir den Betrag von {{ amount }}€ auf dein Konto.{% endblocktranslate %}
                        {% endif %}

                        <form method="post">
                            <div class="field">
                                <div class="control">
                                    {% csrf_token %}
                                    {{ form | bulma }}
                                </div>
                            </div>
                            <div class="field has-text-centered is-multiline">
                                <div class="control">
                                    <input class="button is-primary is-large" type="submit" value="{% if update_instead_of_create %}{% trans 'button_change_data' %}{% else %}{% trans 'button_apply_data' %}{% endif %}">
                                </div>
                            </div>
                        </form>
                    {% else %}
                        Error
                    {% endif %}
                </div> 
            </div>
            <div class="column">
                <div class="notification is-success">
                    {% if rejection is None %}
                    <h1 class="title">{% trans 'update_side_title' %}</h1>
                    <div class="content">
                        {% trans 'update_side_text' %}
                    </div>
                    <h1 class="title">{% trans 'update_side_subtitle' %}</h1>
                    <div class="content">
                        {% trans 'update_side_subtext' %}
                    </div>
                    {% else %}
                        {% include "app/update_form_notification.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
