{% load i18n %}
{% load bulma_tags %}

<h1 class="title">{% trans 'finish_side_climate_title' %}</h1>
<div class="content">
    {% trans 'finish_side_climate_text' %}
</div>
<div class="block has-text-centered pb-1">
    <a href="https://www.asta.tu-darmstadt.de/de/aktuelles/2022-07-14-%C3%BCberall-klima-nirgendwo-gerechtigkeit">
        <button class="button">
            {% trans 'look_climate' %}
        </button>
    </a>
    </div>
<h1 class="title">{% trans 'finish_side_title' %}</h1>
<div class="content">
    {% trans 'finish_side_text' %}
</div>
